.card-navigation-11{
    position: relative;
    top: 205%;
    margin-left: 8%;
    right: -31%;
    padding: 1.25rem;
}
#navi-11{
    position: relative;
    text-align: center;
    /* margin-top: 57%; */
    top: 212%;
    left: 32%;
}